<app-app-header title="Gallery"></app-app-header>

<ion-content class="ion-padding">
  <app-theme-button
    [title]="'Add Photo'"
    [variant]="'primary'"
    [fill]="'solid'"
    [size]="'sm'"
    (handler)="takePhoto()"
  >
  </app-theme-button>

  <p>{{userData?.firstName}}, {{userData?.email}}</p>
  <p>API Call Count: {{apiCallCount}}</p>

  <ion-grid>
    <ion-row>
      @for (photo of photos; track photo) {
        <ion-col size="6">
          <ion-img [src]="photo"></ion-img>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
