<app-app-header title="Profile"></app-app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>User Profile</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="profileForm">
        <ion-list>
          <!-- Email Field -->
          <app-theme-input
            label="Email"
            type="email"
            placeholder="Enter email"
            formControlName="email"
            [showError]="profileForm.controls['email'].dirty && profileForm.controls['email'].invalid"
            [error]="getError('email')"
          ></app-theme-input>

          <!-- username Field -->
          <app-theme-input
            label="Username"
            type="string"
            placeholder="Enter username"
            formControlName="username"
            [showError]="profileForm.controls['username'].dirty && profileForm.controls['username'].invalid"
            [error]="getError('username')"
          ></app-theme-input>

          <!-- First Name Field -->
          <app-theme-input
            label="First Name"
            type="text"
            placeholder="Enter first name"
            formControlName="firstName"
            [showError]="profileForm.controls['firstName'].dirty && profileForm.controls['firstName'].invalid"
            [error]="getError('firstName')"
          ></app-theme-input>
          
          <!-- Last Name Field -->
          <app-theme-input
            label="Last Name"
            type="string"
            placeholder="Enter last number"
            formControlName="lastName"
            [showError]="profileForm.controls['lastName'].dirty && profileForm.controls['lastName'].invalid"
            [error]="getError('lastName')"
          ></app-theme-input>

          <!-- Designation Dropdown -->
          <ion-item>
            <ion-label position="stacked">Gender</ion-label>
            <ion-select
              formControlName="gender"
              placeholder="Select your gender"
              interface="popover"
              >
              @for (gender of genders; track gender) {
                <ion-select-option [value]="gender">{{gender.toUpperCase()}}</ion-select-option>
              }
            </ion-select>
          </ion-item>
          @if (hasError('gender', 'required')) {
            <div class="error-message">Designation is required</div>
          }
        </ion-list>

        <!-- Action Buttons -->
        <div class="button-container">
           @if (!isEditing) {
              <app-theme-button
                [title]="'Edit'"
                [variant]="'primary'"
                [fill]="'solid'"
                [size]="'md'"
                [iconStart]="'create-outline'"
                (handler)="enableEdit()"
              ></app-theme-button>
           } @else {
              <div class="edit-buttons">
                <app-theme-button
                  [title]="'Save'"
                  [variant]="'success'"
                  [iconStart]="'save-outline'"
                  (handler)="saveProfile()"
                  [disabled]="!profileForm.valid"
                ></app-theme-button>

                <app-theme-button
                  [title]="'Cancel'"
                  [variant]="'transparent'"
                  [fill]="'outline'"
                  iconStart="close-outline"
                  (handler)="cancelEdit()"
                ></app-theme-button>
              </div>
            }
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
