<app-app-header title="Home"></app-app-header>

<ion-content class="ion-padding">
  <div id="container">
    <p class="text-xl font-semibold">Ready to create an app?</p>

    <p>{{userData?.name}}, {{userData?.email}}</p>
    <p>API Call Count: {{apiCallCount}}</p>

    <p>{{isLocationFetching ? 'Fetching Location' : 'Location Fetched'}}</p>

    <p>Notification Permission: {{isNotificationPermissionGranted}}</p>

    <p>Location: {{locationPosition?.coords?.latitude}}, {{locationPosition?.coords?.longitude}} </p>

    <ion-button class="gallery-redirect-btn" [routerLink]="['/tabs/gallery']">
      Go to gallery
    </ion-button>
  </div>
  <ion-list>
    @for (item of tasksList; track $index) {
      <ion-item
        [routerLink]="['/tabs/home', item.id]"
        button
      >
        <div class="flex flex-col gap-2 bg-gray-200 w-full p-4 rounded-md">
          <p class="text-lg font-semibold">{{item.title}}</p>
          <p>{{item.description}}</p>
        </div>
      </ion-item>
    }
  </ion-list>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- <router-outlet></router-outlet> -->
</ion-content>
