#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--app-spacing-md);

  .gallery-redirect-btn {
    margin: var(--app-spacing-md) 0;
    --background: var(--app-tertiary);
    --color: white;
    text-transform: none;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

ion-list {
  background: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

    ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-border-width: 0;
  }
}
